# IDE
.vscode/
.idea/
*.swp
*.swo

# User-specific files
global.json
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.ncrunchsolution
*.ncrunchproject
*.DotSettings.user

# Node.js
node_modules/
package-lock.json
*.log

# React App Build Files
src/levihobbs/wwwroot/react-apps/book-reviews-app/
src/levihobbs/react-apps/book-reviews-app/dist/
src/levihobbs/react-apps/book-reviews-app/node_modules/
src/levihobbs/react-apps/book-reviews-app/package-lock.json
src/levihobbs/react-apps/book-reviews-app/*.log
src/levihobbs/react-apps/book-reviews-app/.env*
src/levihobbs/react-apps/raven-unit-test-validation-tool/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# User secrets
appsettings.Production.json
Directory.Build.props 

# Bootstrap, jquery, jquery-validation
/src/levihobbs/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css
/src/levihobbs/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css
/src/levihobbs/wwwroot/lib/bootstrap/dist/css/bootstrap.css
/src/levihobbs/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
/src/levihobbs/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
/src/levihobbs/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
/src/levihobbs/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
/src/levihobbs/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
/src/levihobbs/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
/src/levihobbs/wwwroot/lib/bootstrap/dist/js/bootstrap.js
/src/levihobbs/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
/src/levihobbs/wwwroot/lib/bootstrap/dist/js/npm.js
/src/levihobbs/wwwroot/lib/jquery-validation/dist/additional-methods.js
/src/levihobbs/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
/src/levihobbs/wwwroot/lib/jquery-validation/dist/jquery.validate.js
/src/levihobbs/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
/src/levihobbs/wwwroot/lib/jquery/dist/jquery.js
/src/levihobbs/wwwroot/lib/jquery/dist/jquery.min.js
/src/levihobbs/wwwroot/lib/jquery/dist/jquery.min.map
