# IDE
.vscode/
.idea/
*.swp
*.swo

# User-specific files
global.json
*.user
*.userosscache
*.suo
*.userprefs
*.dbmdl
*.jfm
*.pfx
*.publishsettings

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.ncrunchsolution
*.ncrunchproject
*.DotSettings.user

# Node.js
node_modules/
package-lock.json
*.log

# React App Build Files
src/levihobbs/wwwroot/react-apps/book-reviews-app/
src/levihobbs/react-apps/book-reviews-app/dist/
src/levihobbs/react-apps/book-reviews-app/node_modules/
src/levihobbs/react-apps/book-reviews-app/package-lock.json
src/levihobbs/react-apps/book-reviews-app/*.log
src/levihobbs/react-apps/book-reviews-app/.env*
src/levihobbs/react-apps/raven-unit-test-validation-tool/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Secrets files
secrets.Development.json
secrets.Production.json

Directory.Build.props 